@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'KBO-Dia-Gothic', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    -webkit-tap-highlight-color: transparent;
    @apply text-gray-900
}

@font-face {
    font-family: 'KBO-Dia-Gothic';
    src: url('./fonts/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic';
    src: url('./fonts/KBO-Dia-Gothic_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic';
    src: url('./fonts/KBO-Dia-Gothic_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.fade-enter-active {
    animation: fade .05s ;
}

.fade-leave-active {
    animation: fade .05s reverse;
}

@keyframes fade {
    0% {
        opacity: 0.1;
        transform: scale(.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.intro-enter-active {
    animation: fade 2s;
}

.intro-leave-active {
    animation: fade 2s reverse;
}

@keyframes intro {
    0% {
        opacity: 0.1;
        transform: scale(.7);
    }
    80% {
        opacity: 0.8;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}